.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/dictionaries/Own3r.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
__pycache__/TicTacToe.cpython-38.pyc
.idea/TicTacToe.iml
.idea/.gitignore
